body{
    overflow-x: hidden;
    z-index: 1;
}

img{
image-rendering:auto;
}
body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background: #fff;
  width: 10px;
  border-radius: 15px;
}

body::-webkit-scrollbar-track{
  background-color: #000;
}


button{
    border: none;
}

header{
    height: fit-content;
    background: #0000004a;
    overflow: hidden;
    align-items: center;
    color: aliceblue;
    background:url(Images/LandingPage/Black-bg.jpg);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

header #topNav{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 25px 0;
}

header img{
    width: 10%;
}

header #topNav #linksControl{
    position: relative;
    left: 1%;
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;
    column-gap: 2%;
    text-align: center;
    width: 100%;
    overflow: auto;
}

header #topNav #linksControl #links{
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    flex-flow: row nowrap;
}

header #topNav #links::-webkit-scrollbar{
    display: none;
}

header #topNav #linksControl #links a{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 5px 15px;
    color: #fff;
    background-color: #000;
    border-radius: 15px;
    text-decoration: none;
}

header #topNav #linksControl #links a:hover{
    box-shadow: 0px 0px 10px 1px #fff;
}

header h4{
    padding: 10px 0;
}
header h4 span{
    display: block;
    height: 1px;
    width: 12%;
    background-color: #fff;
}

#sectionBorder{
    background-color: #000;
    width: 100%;
    height: 5em;
    align-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 2em 0;
}



#paraIntro{
    background:url('Images/LandingPage/Mazda.jpg');
    height:110vh;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

#paraIntro img{
    height: 100vh;
}

#ParaIntro #intro #carouselExampleRide .carousel-inner #sliderFilter{
    background-color: #000;
    height: 100vh;
    width: 100%;
}

/*
#paraIntro h2{
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    align-content: 30px;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
*/
#paraIntro h2 span{
    position: relative;
    top: 1em;
}

#paraIntro #inputControl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    background-color: #00000059;
    width: 100%;
    cursor: text;
    position:absolute;
    top: 0%;
}

#inputControl h2{
    font-family: monospace;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 250%;
    width: 80%;

}

#paraIntro button{
    display: none;
}

#paraIntro input{
    width: 80%;
    cursor: text;
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    padding: 2em;
    border-radius: 10px;
    border-color: transparent;
    display: flex;
    align-items: center;
}

#paraIntro input:focus{
    outline: none;
    color: #000;
}

#vehicleContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap:2em;
}

  
  .card {
    width: 300px;
    height: 2em;
    padding:0 0 20px 0;
    border: solid 1px transparent;
    background:#fff;
    box-shadow: 3px 3px 10px 0px grey;
    border-radius:15px;
    line-height:-10px;
    
    overflow:hidden;

  }
  
  .card h3{
    font-size:155%;
  }
  
  .card img{
    width: 350px;
    height: 30vh;
  }
  
  .card p {
    font-size: 15px;
  }
  
  .card #user #authorIcon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 5px;
  }

 .card #category {
    display: flex;
    justify-content: start;
  }
  
  .card #category i{
    margin:5px 5px 0px 5px;
    padding:5px 7px;
    border-radius:15px;
    color:#fff;
    
  }
  
  .card #cardMid {
    text-align:start;
    margin:5px 5px 0px 10px;
    width:100%;
  }
  
  .card #cardMid #yom{
    font-weight: bold;
  }
  
  .card #cardMid #model:hover{
    cursor:pointer;
    text-decoration:underline;
  }
  
  .card #cardMid #price{
    font-family: monospace;
  }
  
  .card #cardMid #specs{
    width: 80%;
  }
  
  /*Tables Val*/
  .card #user table tr {
    display:flex;
    justify-content:start;
    align-items:center;
    width: 340px;
    height:50px;
    float:end;
    /*background:orange;*/
  }
  
  /*Icons Controller*/
  .card #user table tr td:nth-child(3){
    /*background:green;*/
    width:280px;
    float:right;
    display:flex;
    justify-content:space-evenly;
    
  }
  
  .card #user #contacts{
    width: 300px;
  }

  .card #user #contacts i{
    margin: 0 1em;
    cursor:pointer;
    
  }
  
  .card #toSeller{
    display: flex;
    justify-content: center;
  }

  .card #toSeller button{
    width: 80%;
    padding: 10px 0;
    margin:2em 0 0 0;
    border-radius: 15px;
  }

  footer{
  background:#000000;
  color:#fff;
  height:8%;
  padding: 1em 0;
  display:flex;
  align-items: center;
  justify-content:center;
  /*position:fixed;
  bottom:0;
  left:0;
  width:100%;*/
  box-shadow: 1px 1px 20px 1px #000000;
  
}

footer #footerItems{
  display: flex;
}

footer img{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  box-shadow: 1px 0px 10px 1px #fff;
}

footer img, footer i{
  margin: 0 10px;
}


@media (pointer:coarse){

    @media (min-width:100px) and (max-width:600px) {
        header #topNav #links a{
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            padding: 5px 15px;
            color: #fff;
            background-color: #000;
            border-radius: 15px;
            text-decoration: none;
            box-shadow: 0px 0px 10px 1px #fff;
        }


        #paraIntro{
            background-image: url('/Images/LandingPage/Mazda.jpg');
            background-attachment: fixed;
            height: 50vh;
            overflow: hidden;
        
            display: grid;
            grid-template-columns: auto;
            align-items: center;
           
           /* background-color: ;*/
        }
        
        #paraIntro h2{
            cursor: text;
            position:absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 180%;
            
        }

        #paraIntro #inputControl{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 125vh;
            background-color: #00000059;
            width: 100%;
            cursor: text;
            position:absolute;
            top: 0%;
        }

        #paraIntro input{
            padding: 1em;
            width: 80%;
            cursor: text;
            position:absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #000;
            
        }
        
        #paraIntro img{
            height: 50vh;
        }

        #vehicleContainer{
            display: flex;
            justify-content: center;
            flex-flow:row wrap;
        }
        
    }
}
/*Mobile Devices
    aspect-ratio: 5/3;
    height: 35vh;
    */